.range-slider {
  position: relative;
  width: 200px;
  height: 35px;
  text-align: center;
}

.range-slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 15px;
  width: 200px;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}

.rangeValue {
  width: 30px;
}

.output1 {
  position: absolute;
  border: 1px solid #999;
  width: 70px;
  height: 30px;
  text-align: center;
  color: #d1d1d1;
  border-radius: 4px;
  display: inline-block;
  font: bold 15px/30px Helvetica, Arial;
  bottom: 75%;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(to left top, #0059ff 10%, #002d80 90%);
}
.output2 {
  position: absolute;
  border: 1px solid #999;
  width: 70px;
  height: 30px;
  text-align: center;
  color: #d1d1d1;
  border-radius: 4px;
  display: inline-block;
  font: bold 15px/30px Helvetica, Arial;
  bottom: -115%;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(to left top, #0059ff 10%, #002d80 90%);
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  display: none;
}

.range-slider input[type="range"]::-moz-range-thumb {
  display: none;
}

.range-slider input[type="range"]::-ms-thumb {
  display: none;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: linear-gradient(to left top, #232528 10%, #1b3b2f 90%);
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none;
}

.full-range,
.incl-range {
  position: absolute;
}

.incl-range {
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  z-index: 2;
  top: 15px;
  background: linear-gradient(to left top, #33ff00 10%, #082d00 90%);
  outline: none;
}
