:root {
  --gradient1: linear-gradient(
    to left top,
    #0059ff 10%,
    #002d80 90%
  ) !important;
  --gradient2: linear-gradient(
    to left top,
    #ff0000 10%,
    #930000 90%
  ) !important;
  --gradient3: linear-gradient(
    to left top,
    #33ff00 10%,
    #1b9500 90%
  ) !important;
}

body {
  background: #111 !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}

h1,
h2 {
  text-align: center;
  margin: 1rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.music-score-response-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.responseText-h5 {
  white-space: pre-line;
}

.music-score-container {
  display: flex;
  flex-direction: column;
  height: 11rem;
  margin: 2rem;
  justify-content: center;
  .staves-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .width {
      width: 9.5rem;
      .note {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }
}
.tessiture-slider-container {
  display: flex;
  justify-content: center;
}

.tessiture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  max-width: 850px;
}

.btn {
  border: 3px solid transparent;
  background: var(--gradient1);
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.4s ease;
  margin: 1px;
}
.play-ok {
  background: var(--gradient3);
}

.play-stop {
  background: var(--gradient2);
}

.play-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reponse-incorrecte {
  background: var(--gradient2);
  color: #111;
  font-weight: 500;
}

.response-container {
  display: flex;
  justify-content: center;
}
.response-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  max-width: 850px;
}

.reponse {
  max-width: 120px;
  width: 19vw;
}

.repeat-container {
  display: flex;
  justify-content: center;
}

.selected-intervals-container {
  display: flex;
  justify-content: center;
}

.selected-intervals-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  max-width: 850px;
}

.interval {
  max-width: 120px;
  width: 19vw;
}

.selected-interval{
  background: var(--gradient3);
}